body {
  margin: 0;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Preto
Vermelho
Cinza
Dourado ou Amarelo */